<div id="header">

    <div class="nav1">

        <div class="dropdown">
            <a class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa-solid fa-bars"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="btn btn1" routerLink="/contacts" ariaCurrentWhenActive="page" style="background-color: 237,238,238;"><i class="fa-solid fa-envelope fa-beat-fade --fa-animation-duration: 8s;"></i> Contact</a>
                <a class="btn btn1" routerLink="/login" ariaCurrentWhenActive="page" style="background-color: 237,238,238;"><i class="fa-solid fa-right-to-bracket fa-beat-fade --fa-animation-duration: 8s;"></i> Login</a>
                <a class="btn btn1" routerLink="/register" ariaCurrentWhenActive="page" style="background-color: 237,238,238;"><i class="fa-solid fa-address-card fa-beat-fade --fa-animation-duration: 8s;"></i> Register</a>
            </div>
        </div>
        
        <div class="dropdown"><a class="btn" routerLink="/" role="button" data-bs-toggle="dropdown" aria-expanded="false" ariaCurrentWhenActive="page">
            <i class="fa-solid fa-house fa-beat-fade --fa-animation-duration: 8s;"></i> Home</a>
        </div>

        
    
        <div class="dropdown">
             <a class="btn dropdown-toggle border-0" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-book fa-beat-fade --fa-animation-duration: 8s;"></i> About Us
             </a>

              <ul class="dropdown-menu">
                <li>
                    <a class="dropdown-item" routerLink="aboutus/welcome" ariaCurrentWhenActive="page">Welcome to our school</a>
                </li>
                <li>
                    <a class="dropdown-item" routerLink="aboutus/history" ariaCurrentWhenActive="page">History</a>
                </li>
                <li><a class="dropdown-item" routerLink="aboutus/crest" ariaCurrentWhenActive="page">Our Crest</a></li>
                <li>
                    <a class="dropdown-item" routerLink="aboutus/mottovisionmission" ariaCurrentWhenActive="page">Motto Vission Mission</a>
                </li>
                <li><a class="dropdown-item" routerLink="aboutus/houses" ariaCurrentWhenActive="page">House System</a></li>
                <li><a class="dropdown-item" routerLink="aboutus/schoolhymn" ariaCurrentWhenActive="page">School Hymn</a></li>
                <li><a class="dropdown-item" routerLink="aboutus/ourprincipal" ariaCurrentWhenActive="page">Our Principal</a></li>
                <li>
                    <a class="dropdown-item" routerLink="aboutus/pricipalmessage" ariaCurrentWhenActive="page">Principal's Message</a>
                </li>
                <li>
                    <a class="dropdown-item" routerLink="" ariaCurrentWhenActive="page">Staff Details</a>
                </li>
                <li>
                    <a class="dropdown-item" routerLink="" ariaCurrentWhenActive="page">Past Principals</a>
                </li>
              </ul>
        </div>
    
        <div class="dropdown">
             <a class="btn dropdown-toggle border-0" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-flag fa-beat-fade --fa-animation-duration: 8s;"></i> Acheivement
             </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" routerLink="acheivement/ol" ariaCurrentWhenActive="page">G.C.E (O/L)</a></li>
                <li><a class="dropdown-item" routerLink="acheivement/al" ariaCurrentWhenActive="page">G.C.E (A/L)</a></li>
                <li><a class="dropdown-item" routerLink="acheivement/results" ariaCurrentWhenActive="page">Resulat Analysis</a></li>
              </ul>
        </div>
    
        <div class="dropdown">
             <a class="btn dropdown-toggle border-0" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-leaf fa-beat-fade --fa-animation-duration: 8s;"></i> Unions
             </a>

              <ul class="dropdown-menu">
                <li><a class="dropdown-item" routerLink="unions/ictunion" ariaCurrentWhenActive="page">ICT Union</a></li>
              </ul>
        </div>
        <div class="dropdown">
            <a class="btn" routerLink="/gallery" ariaCurrentWhenActive="page"style="background-color: 237,238,238;"><i class="fa-solid fa-camera fa-beat-fade --fa-animation-duration: 8s;"></i> Gallery</a>
        </div>
        
        <!-- <div class="dropdown"><a class="btn btn1" routerLink="/contacts" ariaCurrentWhenActive="page" style="background-color: 237,238,238;"><i class="fa-solid fa-envelope fa-beat-fade --fa-animation-duration: 8s;"></i> Contact</a></div>
        <div class="dropdown"><a class="btn btn1" routerLink="/login" ariaCurrentWhenActive="page" style="background-color: 237,238,238;"><i class="fa-solid fa-right-to-bracket fa-beat-fade --fa-animation-duration: 8s;"></i> Login</a></div> -->
        <div class="dropdown">
            <a class="btn" id="fblink" href="https://www.facebook.com/vembadi.jaffna.73"><i class="fa-brands fa-facebook-f fa-lg fa-bounce --fa-animation-duration: 8s;" style="color: rgb(46, 67, 175);"></i></a>
        </div>
       
        
          
        <div class="col-sm-3 search">
        <div class="input-group h-25">
            <input type="search" class="form-control" placeholder="Search" aria-label="Search" />
            <span class="input-group-text border-0" id="search-addon" style="background-color:rgba(236, 209, 76);">
              <i class="fas fa-search"></i>
            </span>
        </div>
        </div>
    </div>
</div>

