<div class="container3">
    <div class="gallery fade-in">
        <div align="center">
            <h5><p class="fs-3 stext">CONTACT DETAILS<p></h5>
            <img class="mt-1 mb-2" src="assets/images/icons/contact.png" width="70px" height="70px" align-items="center" alt="message">
            <div class="row">
                <div class="column contact-method col-md-6">
                    <i class="fa fa-envelope"></i>
                    <span>
                        <a class="btn" id="emaillink" href="mailto:vembadi_jaffna@yahoo.com">vembadi_jaffna@yahoo.com</a>
                    </span>
                </div>
                <div class="column contact-method col-md-6">
                    <i class="fa-solid fa-phone"></i>
                    <span>021 222 2187</span>
                </div>
                <div class="column contact-method col-md-6">
                    <i class="fa-solid fa-square-phone"></i>
                    <span>021 222 3746</span>
                </div>
            </div>
        
            <div class="row">
                <div class="column contact-method col-md-6">
                    <i class="fa-solid fa-location-dot"></i>
                    <span><a class="btn" routerLink="/location" ariaCurrentWhenActive="page">1st Cross Street, Jaffna</a></span>
                </div>
                <div class="column contact-method col-md-6">
                    <i class="fa-solid fa-house-chimney"></i>
                    <span><a class="btn" id="emaillink" href="JVGHS.html">http://www.vghs.lk</a></span>
                </div>
                <div class="column contact-method col-md-6">
                    <i class="fa-brands fa-facebook-f"></i>
                    <span><a class="btn" id="emaillink" href="https://www.facebook.com/vembadi.jaffna.73">vembadi.jaffna.73</a></span>
                </div>
            </div>
            <div class="row">
                <div class="column contact-method col-md-6">
                    <i class="fa-solid fa-brands fa-linkedin-in"></i>
                    <span><a class="btn"href="https://www.linkedin.com/school/vembadi-girls%E2%80%99-high-school/">J/ Vembadi Girls' High School</a></span>
                </div>
            </div>
        </div>
    </div>
</div> 