<div class="container3">
    <div class="gallery1 fade-in">
        <div  align="center">
    <h5><p class="fs-3 stext">ACHEIVEMENT IMAGES<p></h5>
    <img class="mb-2 mt-1" src="assets/images/icons/trophy.png" width="70px" height="70px" align-items="center" alt="trophy">
</div>
    <div class="row1">
      <div class="column1 col-md-6 image-containern">
        <div class="content1 shadow-lg p-3 mb-5 bg-body-tertiary rounded animate-imagen">
          <img src="assets/images/acheivements/img1.jpg"  alt="pf1" style="width:100%">
        </div>
      </div>
       <div class="column1 col-md-6 image-containern">
        <div class="content1 shadow-lg p-3 mb-5 bg-body-tertiary rounded animate-imagen">
          <img src="assets/images/acheivements/img2.jpg"  alt="pf1" style="width:100%">
        </div>
      </div>
       <div class="column1 col-md-6 image-containern">
        <div class="content1 shadow-lg p-3 mb-5 bg-body-tertiary rounded animate-imagen">
          <img src="assets/images/acheivements/img3.jpg"  alt="pf1" style="width:100%">
        </div>
      </div>
       <div class="column1 col-md-6 image-containern">
        <div class="content1 shadow-lg p-3 mb-5 bg-body-tertiary rounded animate-imagen">
          <img src="assets/images/acheivements/img4.jpg"  alt="pf1" style="width:100%">
        </div>
      </div>
    </div>
    
    <div class="row1">
      <div class="column1 col-md-6 image-containern">
        <div class="content1 shadow-lg p-3 mb-5 bg-body-tertiary rounded animate-imagen">
          <img src="assets/images/acheivements/img5.jpg"  alt="pf1" style="width:100%">
        </div>
      </div>
       <div class="column1 col-md-6 image-containern">
        <div class="content1 shadow-lg p-3 mb-5 bg-body-tertiary rounded animate-imagen">
          <img src="assets/images/acheivements/img6.jpg"  alt="pf1" style="width:100%">
        </div>
      </div>
       <div class="column1 col-md-6 image-containern">
        <div class="content1 shadow-lg p-3 mb-5 bg-body-tertiary rounded animate-imagen">
          <img src="assets/images/acheivements/img7.jpg"  alt="pf1" style="width:100%">
        </div>
      </div>
       <div class="column1 col-md-6 image-containern">
        <div class="content1 shadow-lg p-3 mb-5 bg-body-tertiary rounded animate-imagen">
          <img src="assets/images/acheivements/img8.jpg"  alt="pf1" style="width:100%">
        </div>
      </div>
    </div>
    
    <div class="row1">
      <div class="column1 col-md-6 image-containern">
        <div class="content1 shadow-lg p-3 mb-5 bg-body-tertiary rounded animate-imagen">
          <img src="assets/images/acheivements/img9.jpg"  alt="pf1" style="width:100%">
        </div>
      </div>
    </div>
    
    </div>
</div>