<div class="container3" id="events">
  <div class="gallery1 fade-in">
    <div align="center">
      <h5><p class="fs-3 stext">EVENTS IMAGES<p></h5>
      <img class="mb-2 mt-1" src="assets/images/icons/red-carpet.png" width="70px" height="70px" align-items="center" alt="redcarpet">
    </div>
    <div class="row1">
      <div class="column1 col-md-6 image-containern">
        <div class="content1 shadow-lg p-3 mb-5 bg-body-tertiary rounded animate-imagen">
          <img src="assets/images/events/img1.jpg"  alt="pf1" style="width:100%">
        </div>
      </div>
      <div class="column1 col-md-6 image-containern">
        <div class="content1 shadow-lg p-3 mb-5 bg-body-tertiary rounded animate-imagen">
          <img src="assets/images/events/img20.jpg"  alt="pf1" style="width:100%">
        </div>
      </div>
      <div class="column1 col-md-6 image-containern">
        <div class="content1 shadow-lg p-3 mb-5 bg-body-tertiary rounded animate-imagen">
          <img src="assets/images/events/img3.jpg"  alt="pf1" style="width:100%">
        </div>
      </div>
      <div class="column1 col-md-6 image-containern">
        <div class="content1 shadow-lg p-3 mb-5 bg-body-tertiary rounded animate-imagen">
          <img src="assets/images/events/img4.jpg"  alt="pf1" style="width:100%">
        </div>
      </div>
    </div>
    
    <div class="row1">
      <div class="column1 col-md-6 image-containern">
        <div class="content1 shadow-lg p-3 mb-5 bg-body-tertiary rounded animate-imagen">
          <img src="assets/images/events/img5.jpg"  alt="pf1" style="width:100%">
        </div>
      </div>
      <div class="column1 col-md-6 image-containern">
        <div class="content1 shadow-lg p-3 mb-5 bg-body-tertiary rounded animate-imagen">
          <img src="assets/images/events/img6.jpg"  alt="pf1" style="width:100%">
        </div>
      </div>
      <div class="column1 col-md-6 image-containern">
        <div class="content1 shadow-lg p-3 mb-5 bg-body-tertiary rounded animate-imagen">
          <img src="assets/images/events/img7.jpg"  alt="pf1" style="width:100%">
        </div>
      </div>
      <div class="column1 col-md-6 image-container1">
        <div class="content1 shadow-lg p-3 mb-5 bg-body-tertiary rounded animate-imagen">
          <img src="assets/images/events/img8.jpg"  alt="pf1" style="width:100%">
        </div>
      </div>
    </div>
    
    <div class="row1">
      <div class="column1 col-md-6 image-containern">
        <div class="content1 shadow-lg p-3 mb-5 bg-body-tertiary rounded animate-imagen">
          <img src="assets/images/events/img9.jpg"  alt="pf1" style="width:100%">
        </div>
      </div>
      <div class="column1 col-md-6 image-containern">
        <div class="content1 shadow-lg p-3 mb-5 bg-body-tertiary rounded animate-imagen">
          <img src="assets/images/events/img10.jpg"  alt="pf1" style="width:100%">
        </div>
      </div>
      <div class="column1 col-md-6 image-containern">
        <div class="content1 shadow-lg p-3 mb-5 bg-body-tertiary rounded animate-imagen">
          <img src="assets/images/events/img11.jpg"  alt="pf1" style="width:100%">
        </div>
      </div>
      <div class="column1 col-md-6 image-containern">
        <div class="content1 shadow-lg p-3 mb-5 bg-body-tertiary rounded animate-imagen">
          <img src="assets/images/events/img12.jpg"  alt="pf1" style="width:100%">
        </div>
      </div>
    </div>
    
    <div class="row1">
      <div class="column1 col-md-6 image-containern">
        <div class="content1 shadow-lg p-3 mb-5 bg-body-tertiary rounded animate-imagen">
          <img src="assets/images/events/img13.jpg"  alt="pf1" style="width:100%">
        </div>
      </div>
      <div class="column1 col-md-6 image-containern">
        <div class="content1 shadow-lg p-3 mb-5 bg-body-tertiary rounded animate-imagen">
          <img src="assets/images/events/img14.jpg"  alt="pf1" style="width:100%">
        </div>
      </div>
      <div class="column1 col-md-6 image-containern">
        <div class="content1 shadow-lg p-3 mb-5 bg-body-tertiary rounded animate-imagen">
          <img src="assets/images/events/img15.jpg"  alt="pf1" style="width:100%">
        </div>
      </div>
      <div class="column1 col-md-6 image-containern">
        <div class="content1 shadow-lg p-3 mb-5 bg-body-tertiary rounded animate-imagen">
          <img src="assets/images/events/img16.jpg"  alt="pf1" style="width:100%">
        </div>
      </div>
    </div>
    
    <div class="row1">
      <div class="column1 col-md-6 image-containern">
        <div class="content1 shadow-lg p-3 mb-5 bg-body-tertiary rounded animate-imagen">
          <img src="assets/images/events/img17.jpg"  alt="pf1" style="width:100%">
        </div>
      </div>
      <div class="column1 col-md-6 image-containern">
        <div class="content1 shadow-lg p-3 mb-5 bg-body-tertiary rounded animate-imagen">
          <img src="assets/images/events/img18.jpg"  alt="pf1" style="width:100%">
        </div>
      </div>
      <div class="column1 col-md-6 image-containern">
        <div class="content1 shadow-lg p-3 mb-5 bg-body-tertiary rounded animate-imagen">
          <img src="assets/images/events/img19.jpg"  alt="pf1" style="width:100%">
        </div>
      </div>
      
    </div>
    
  </div>
</div>