<div class="container3">
    <div class="gallery fade-in">
        <h5>
            <p class="fs-3 stext" align="center">HOUSE ORGANIZATION<p>
        </h5><br>
        <div align="center">
            <img class="mt-2 mb-2" src="assets/images/icons/torch.png" width="70px" height="70px" align-items="center" alt="torch">
        </div>
        <p align="justify" class="px-5" style="color:black">The House organization is introduced in 24th March 1924. Three Houses are Lythe, Creedy and Hornby. The Fourth House, Scowcroft is introduced in 17th Jan 1949.Then Thambiah house was introduced as Fifth house. These houses named after the Past principals.</p>
        <table class="table table-responsive table-striped table-borderless" text-align="left">
            <caption>List of Houses</caption>
            <thead align="left">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">House Name</th>
                    <th scope="col">Colour</th>
                    <th scope="col">Motto</th>
                    <th scope="col">Batch</th>
                </tr>
            </thead>
            <tbody class="table-group-divider"align="left">
                <tr>
                    <th scope="row">1</th>
                    <td>Lythe</td>
                    <td><button type="button" class="btn-sm btn-circle border-0" style="background-color:rgb(128,64,191);"></button></td>
                    <td>Up and On</td>
                    <td><img class="mt-2" src="assets/images/batch/purple.png" width="100px" height="100px" align-items="center" alt="message"></td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Creedy</td>
                    <td><button type="button" class="btn-sm btn-circle border-0" style="background-color:rgb(0,128,0);"></button></td>	
                    <td>I can</td>
                    <td><img class="mt-2" src="assets/images/batch/green.png" width="100px" height="100px" align-items="center" alt="message"></td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Hornby</td>
                  <td><button type="button" class="btn-sm btn-circle border-0" style="background-color:rgb(255,0,43);"></button></td>
                  <td>Keep smile</td>
                  <td><img class="mt-2" src="assets/images/batch/red.png" width="100px" height="100px" align-items="center" alt="message"></td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>Scowcroft</td>
                    <td><button type="button" class="btn-sm btn-circle border-0" style="background-color:rgb(30,125,255);"></button></td>
                    <td>Aim high</td>
                    <td><img class="mt-2" src="assets/images/batch/blue.png" width="100px" height="100px" align-items="center" alt="message"></td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>Thambiah</td>
                    <td><button type="button" class="btn-sm btn-circle border-0" style="background-color:rgb(255, 140, 0);"></button></td>
                    <td>Play the game</td>
                    <td><img class="mt-2" src="assets/images/batch/orange.png" width="100px" height="100px" align-items="center" alt="message"></td>
                </tr>
            </tbody>
        </table>
            
            
    </div>
</div>