<div class="container2">

    <div class="service-item">
        <div class="card card1 cardleft">
            <div class="card-body">
                <h3 class="card-title stext">VISION</h3>
                <p class="card-text">
                    On The Path To Achieve<br>
                </p>
                <div class="icon">
                    <img src="assets/images/icons/vmm/shared-vision.png" class="mt-4" width="60px" height="60px" align-items="center" alt="vision">
                </div>
            </div>
        </div>	
    </div>
    <div class="service-item">
        <div class="card card1">
            <div class="card-body">
                <h3 class="card-title stext">MISSION</h3>
                <p class="card-text" align="justify">
                    Developing multifaceted talents and skills through nurturing knowledge and inculcating positive norms, values and attitudes to provide quality in Education
                </p>
                <div class="icon">
                    <img class="mt-1" src="assets/images/icons/vmm/bullseye.png" class="mt-4" width="60px" height="60px"  align-items="center" alt="mission">
                </div>
            </div>
        </div>
    </div>
    <div class="service-item">
        <div class="card card1">
            <div class="card-body">
                <h3 class="card-title stext">MOTO</h3>
                <p class="card-text">
                    Dare To Do Right<br>
                </p>
                <div class="icon">
                    <img class="mt-1" src="assets/images/icons/vmm/protest.png" class="mt-4" width="60px" height="60px" align-items="center" alt="moto">
                </div>
            </div>
        </div>
    </div>
</div>