<div class="container3" id="schoolviewimages">
    <div class="gallery1 fade-in">
        <div align="center">
    <h5><p class="fs-3 stext" >SCHOOL VIEW IMAGES<p></h5>
    <img class="mt-1 mb-2" src="assets/images/icons/school.png" width="70px" height="70px" align-items="center" alt="school">
</div>
    <div class="row1">
      <div class="column1 col-md-6 image-containern">
        <div class="content1 shadow-lg p-3 mb-5 bg-body-tertiary rounded animate-imagen">
          <img src="assets/images/schoolview/img1.jpg"  alt="pf1" style="width:100%">
        </div>
      </div>
       <div class="column1 col-md-6 image-containern">
        <div class="content1 shadow-lg p-3 mb-5 bg-body-tertiary rounded animate-imagen">
          <img src="assets/images/schoolview/img2.jpg"  alt="pf1" style="width:100%">
        </div>
      </div>
       <div class="column1 col-md-6 image-containern">
        <div class="content1 shadow-lg p-3 mb-5 bg-body-tertiary rounded animate-imagen">
          <img src="assets/images/schoolview/img3.jpg"  alt="pf1" style="width:100%">
        </div>
      </div>
       <div class="column1 col-md-6 image-containern">
        <div class="content1 shadow-lg p-3 mb-5 bg-body-tertiary rounded animate-imagen">
          <img src="assets/images/schoolview/img4.jpg"  alt="pf1" style="width:100%">
        </div>
      </div>
    </div>
    
    <div class="row1">
      <div class="column1 col-md-6 image-containern">
        <div class="content1 shadow-lg p-3 mb-5 bg-body-tertiary rounded animate-imagen">
          <img src="assets/images/schoolview/img5.jpg"  alt="pf1" style="width:100%">
        </div>
      </div>
       <div class="column1 col-md-6 image-containern">
        <div class="content1 shadow-lg p-3 mb-5 bg-body-tertiary rounded animate-imagen">
          <img src="assets/images/schoolview/img6.jpg"  alt="pf1" style="width:100%">
        </div>
      </div>
       <div class="column1 col-md-6 image-containern">
        <div class="content1 shadow-lg p-3 mb-5 bg-body-tertiary rounded animate-imagen">
          <img src="assets/images/schoolview/img7.jpg"  alt="pf1" style="width:100%">
        </div>
      </div>
       <div class="column1 col-md-6 image-containern">
        <div class="content1 shadow-lg p-3 mb-5 bg-body-tertiary rounded animate-imagen">
          <img src="assets/images/schoolview/img8.jpg"  alt="pf1" style="width:100%">
        </div>
      </div>
    </div>
    
    <div class="row1">
      <div class="column1 col-md-6 image-containern">
        <div class="content1 shadow-lg p-3 mb-5 bg-body-tertiary rounded animate-imagen">
          <img src="assets/images/schoolview/img9.jpg"  alt="pf1" style="width:100%">
        </div>
      </div>
       <div class="column1 col-md-6 image-containern">
        <div class="content1 shadow-lg p-3 mb-5 bg-body-tertiary rounded animate-imagen">
          <img src="assets/images/schoolview/img10.jpg"  alt="pf1" style="width:100%">
        </div>
      </div>
    </div><br>
    
    </div>
    
</div>