<div class="container3">
    <div class="gallery fade-in">
        <div align="center">
            <h5>
                <p class="fs-3 stext" >GALLERY<p>
            </h5>
            <img class="mt-1 mb-2" src="assets/images/icons/gallery.png" width="70px" height="70px" align-items="center" alt="name"><br>
        </div>
        <!-- Portfolio Gallery Grid -->
        <div class="row animated-image">
            <div class="column image-container col-md-6">
                <div class="content shadow-lg p-3 mb-5 bg-body-tertiary rounded animate-image">
                    <img src="assets/images/pf-1.jpg"  alt="pf1" style="width:100%">
                    <div class="nametag">
                        <a routerLink="/schoolviewimages" ariaCurrentWhenActive="page">SCHOOL VIEW IMAGES</a>
                    </div>
                </div>
            </div>
            <div class="column image-container col-md-6">
                <div class="content shadow-lg p-3 mb-5 bg-body-tertiary rounded animate-image">
                    <img src="assets/images/pf-2.jpg" alt="pf2"style="width:100%">
                    <div class="nametag">
                        <a routerLink="/acheivementimages" ariaCurrentWhenActive="page">ACHEIVEMENT IMAGES</a>
                    </div>
                </div>
            </div>
            <div class="column image-container col-md-6">
                <div class="content shadow-lg p-3 mb-5 bg-body-tertiary rounded animate-image">
                    <img src="assets/images/pf-3.jpg" alt="pf3" style="width:100%">
                    <div class="nametag">
                        <a routerLink="/eventsimages" ariaCurrentWhenActive="page">EVENTS IMAGES</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row animated-image">
            <div class="column image-container">
                <div class="content shadow-lg p-3 mb-5 bg-body-tertiary rounded animate-image">
                    <img src="assets/images/pf-4.jpg" alt="pf1" style="width:100%">
                    <div class="nametag">
                        <a routerLink="/sportsimages" ariaCurrentWhenActive="page">SPORTS IMAGES</a>
                    </div>
                </div>
            </div> 
            <div class="column image-container">
                <div class="content shadow-lg p-3 mb-5 bg-body-tertiary rounded animate-image">
                    <img src="assets/images/pf-5.jpg" alt="pf1" style="width:100%">
                    <div class="nametag">
                        <a routerLink="/farewellimages" ariaCurrentWhenActive="page">FAREWELL IMAGES</a>
                    </div>
                </div>
            </div>
            <div class="column image-container">
                <div class="content shadow-lg p-3 mb-5 bg-body-tertiary rounded animate-image">
                    <img src="assets/images/pf-6.jpg" alt="pf6" style="width:100%">
                        <div class="nametag">
                            <a routerLink="/generaleventimages" ariaCurrentWhenActive="page">GENERAL EVENT IMAGES</a>
                        </div>
                </div>
            </div>
        </div>
    
    </div>
</div>