<div class="container3">

	<div class="gallery fade-in">

        <div align="center">
            <h5>
                <p class="fs-3 stext">OUR CREST<p>
            </h5><br>

            <img class="mt-2 mb-2" src="assets/images/icons/shield.png" width="70px" height="70px" alt="crust"><br>
        </div>

		<img src="assets/images/logo_vghs.png" class="rounded float-start mx-5 border border-black" alt="crest" width="200" height="200">

        <div class="pdiv">
            <p class="px-5">In the history of Vembadi, the end of 1924saw the introduction of the school motto “Dare to do Right”, chosen because it felt that what people in Jaffna needed was the courage of their convictions and it was necessary that the girls should develop some of that courage so that they might not be tossed about every breadth of public opinion and be held in the grip of “fear of what people will say”</p>
            <p class="px-5">There are five palmyrah trees depicted on the crest illustrating the characteristics of this tree. The first and foremost are its strength and straightness, regardless how high it grows to. Every student of Vembadi was expected to aspire to be a palmyrah tree, strong and straight in their body(posture),mind and spirit. Secondly, whether there was a drought or flood, the palmyrah tree kept on growing, giving of its best and supplying versatile needs to the Jaffna people. The palmyrah gave of its best irrespective of the person whom it was given to and for what purpose they used it. For above all, the tree gave everything without expecting anything in return for it, not even water.That must be in the aim of every Vembadi girl who passed through the portals of the institution even if they studied there for a short period.</p>
            <p class="px-5">The chrysalis with an emerging butterfly, which is one of the most beautiful creations of god, was chosen so that the students would be freed independently and actively, as beautiful as butterflies in thought, word and deed, and graceful and good to look upon.</p>
		</div>
	</div>
</div>

       