<div class="container3">
    <div class="gallery fade-in">
        <h5>
            <p class="fs-3 stext" align="center">MESSAGE FROM OUR PRINCIPAL</p>
        </h5><br>

        <div  align="center" >
            <img class="mt-1 mb-2" src="assets/images/icons/write-message.png" width="70px" height="70px" align-items="center" alt="message"><br>
        </div>
        
        <img src="assets/images/principal.jpg" class="rounded float-start mx-5 border border-black" alt="principal" width="300" height="300">
        <p align="justify" class="px-5">Auspicious moment of re-launching this official website swells my heart with pride and joy. This will take J/Vembadi Girls’ High School one step closer to achieving the international standards. This website which connects past and present students around the world, is a significant step in the process of passing and sharing the activities and records of events in a preferred manner with the latest technological advancements in the world.</p>
        <p align="justify" class="px-5">
            Our school has been recognized as of the leading National School in all island as well as leading school in Nothern part of Srilanka, due to the outstanding performances. As such I’m greatly indebted to the founder of our school Dr.Peter Percival and the past and present teachers for their dedication and commitment to produce exceptional results in all fields of education as well as in the extra curricula activities; and all our students for bringing fame and recognition to the school through their achievements.
        </p>
        <p align="justify" class="px-5">
            I would be failing in my duties if I do not thank the Web development Team. Their skills and working together as a great team paved way to re- launch this website on time.
        </p>
        <p align="justify" class="px-5">
        I wish all of you the very best in your future endeavors.
        </p>
        <p align="justify" class="px-5">
        Principal<br>Mrs.Venuka Shanmukaratnam
        </p>
    
    </div>
</div>