<div class="container3">
  <div class="gallery fade-in">
    <div align="center">
      <p class="fs-3 stext">OUR PRINCIPAL<p>
      <img class="mt-2 mb-2" src="assets/images/icons/manager.png" width="70px" height="70px" align-items="center" alt="manager">	
    </div>
        
    <div class="flip-box">
      <div class="flip-box-inner">
        <div class="flip-box-front">
          <img src="assets/images/principalvghs.jpg" align-items="center" width="100%" height="100%" alt="principal">
        </div>
        <div class="flip-box-back">
          <p align="justify" class="mx-5 my-3">Mrs.Rajinidevy Muthukumaran of Sri Lanka Education Administrative Service who has been serving as the Principal of J/Vembadi Girls' High School with the covering approval of Ministry of Education since 18.09.2020 is appointed as the Principal with the permission of the Public Service Commission on the basis of the interview conducted for the selection of National School Principals.</p>
        </div>
      </div>
    </div>
    <div class="centered px-5">
      <p align="justify" style="color:black">Mrs.Rajinidevy Muthukumaran<br>Principal - SLEAS</p>
    </div>
        
  </div>
</div>