.container3 {
	
	justify-content: flex-start;
	/* align-items: center; */
	margin: auto;
	width: 100%;
	padding: auto;
	object-fit: cover;
	color:rgb(0, 0, 0);
	text-align:justify;
	padding-top: 30px;
	padding-bottom: 30px;
	background: rgba(236, 209, 76);
	margin-top: 70px;
	margin-bottom: 70px;
	overflow-y: auto; 
}

.gallery {
    max-width: 1000px;
    margin: auto;
}

.gallery a:hover {
    text-decoration: none;
}

.gallery a {
    text-decoration: none;
}

.center{
	align-items: center;
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.stext {
	color: rgb(0, 0, 0);
	text-shadow: 2px 2px 4px #000000;
}

.pdiv{
   align-items: justify;
   color: black;
   
}

.btn-circle.btn-sm {
    width: 25px;
    height: 25px;
    padding: 6px 0px;
    border-radius: 15px;
    font-size: 8px;
    text-align: center;
}

.info-box {
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    border-radius: 15px;
    background: transparent;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 1rem;
    min-height: 80px;
    padding: .5rem;
    position: relative;
    margin-top: 20px;
}

.info-box .info-box-icon {

    border-radius: .25rem;
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    font-size: 2rem;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    width: 70px;
    
}
.info-box .info-box-number {
    display: block;
    font-weight: 500;
}

.trasparent{
	background-color: transparent;
}

.text{
	color:  rgba(236, 209, 76);
}

.card1{
    background-color: rgba(236, 209, 76);
    color: black;
    width: 30rem; 
    height: 25rem;
    min-width: fit-content;
    border-radius: 15px;
    padding: 50px 30px 50px 30px;
    margin-bottom: 30px;
	margin-top: 20px;
    /* transition: all .4s; */
	width: fit-content;
	block-size: fit-content;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    float: left;
    /* box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset; */
    

}

.card1:hover{
    transform: scale(1.1);
}
/* 
.box {
    float: left;
    width: 33.33%;
    padding: 50px;
    display: inline-block;
  } */
.section{
    margin-bottom: 10px;
}

.info-box:hover{
    transform: scale(1.1);
}