
<div class="container3">
    <div class="gallery fade-in">
        <div align="center">
            <h5>
                <p class="fs-3 stext">ICT UNION<p>
            </h5><br>
            <img class="mt-2 mb-2" src="assets/images/icons/desktop.png" width="70px" height="70px" alt="message"><br>
            <img class="mt-1 mb-3 border border-dark rounded" src="assets/images/ictunion.jpg" width="80%" height="80%" alt="ictunion">
        </div>
        <p align="justify" class="px-5" style="color:black">As the knowledge of Information Technology has become indispensable in the present day world the subject is now being taught in all classes. Various competitions organized by Education Department and our students achieve the necessary skills by participating in these competitions.</p>
        <p align="justify" class="px-5" style="color:black">This Union under takes many activities to enhance the ICT knowledge among the students from 6 – 13. Our students obtain many places in the competitions organized by the education offices and Departments. They prove their talent in each level and bring frame to school by winning places and awards in provincial & National level competitions. The teachers of ICT encourage, guide and help to prepare the students to participate in the competitions, organized by department of education as well as other institutions to their level best.</p>
    </div>
</div>
   